<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nếu request không phải file/thư mục thật thì chuyển về front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L,QSA]
</IfModule>
